

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <filter>
  	<description>
  	</description>
  	<display-name>homepageFilter</display-name>
  	<filter-name>homepageFilter</filter-name>
  	<filter-class>com.sweethome.filter.homepageFilter</filter-class>
  </filter>
  <filter>
  	<description>
  	</description>
  	<display-name>userdetailsFilter</display-name>
  	<filter-name>userdetailsFilter</filter-name>
  	<filter-class>com.sweethome.filter.userdetailsFilter</filter-class>
  </filter>
  <filter>
  	<description>
  	</description>
  	<display-name>retrivebyidFilter</display-name>
  	<filter-name>retrivebyidFilter</filter-name>
  	<filter-class>com.sweethome.filter.retrivebyidFilter</filter-class>
  </filter>
  <filter>
  	<description>
  	</description>
  	<display-name>userdetailsPhone</display-name>
  	<filter-name>userdetailsPhone</filter-name>
  	<filter-class>com.sweethome.filter.userdetailsPhone</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>homepageFilter</filter-name>
  	<url-pattern>/Retrive</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>userdetailsFilter</filter-name>
  	<url-pattern>/CalculateBill</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>retrivebyidFilter</filter-name>
  	<url-pattern>/RetriveByName</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>userdetailsPhone</filter-name>
  	<url-pattern>/CalculateBill</url-pattern>
  </filter-mapping>
  <servlet>
  	<servlet-name>ValidateLet</servlet-name>
  	<display-name>ValidateLet</display-name>
  	<description></description>
  	<servlet-class>com.sweethome.validate.ValidateLet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>InsertToDB</servlet-name>
  	<display-name>InsertToDB</display-name>
  	<description></description>
  	<servlet-class>com.sweethome.insertDB.InsertToDB</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CalculateBill</servlet-name>
  	<display-name>CalculateBill</display-name>
  	<description></description>
  	<servlet-class>com.sweethome.calculatebill.CalculateBill</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>Retrive</display-name>
  	<servlet-name>Retrive</servlet-name>
  	<servlet-class>com.sweethome.retrive.Retrive</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>RetriveDB</display-name>
  	<servlet-name>RetriveDB</servlet-name>
  	<servlet-class>com.sweethome.retrive.RetriveDB</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>GoToHomePage</display-name>
  	<servlet-name>GoToHomePage</servlet-name>
  	<servlet-class>com.goback.home.GoToHomePage</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>RetriveByName</display-name>
  	<servlet-name>RetriveByName</servlet-name>
  	<servlet-class>com.sweethome.retrivebyname.RetriveByName</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>DatePicker</display-name>
  	<servlet-name>DatePicker</servlet-name>
  	<servlet-class>com.sweethome.datepicker.DatePicker</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ValidateLet</servlet-name>
  	<url-pattern>/ValidateLet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>InsertToDB</servlet-name>
  	<url-pattern>/InsertToDB</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CalculateBill</servlet-name>
  	<url-pattern>/CalculateBill</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Retrive</servlet-name>
  	<url-pattern>/Retrive</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RetriveDB</servlet-name>
  	<url-pattern>/RetriveDB</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GoToHomePage</servlet-name>
  	<url-pattern>/GoToHomePage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RetriveByName</servlet-name>
  	<url-pattern>/RetriveByName</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DatePicker</servlet-name>
  	<url-pattern>/DatePicker</url-pattern>
  </servlet-mapping>
  
  
  <context-param>
  <param-name>URL</param-name>
  <param-value>jdbc:mysql://localhost:3306/database1</param-value>
  </context-param>
  
  <context-param>
  <param-name>username</param-name>
  <param-value>root</param-value>
  </context-param>
 	
 	<context-param>
 	<param-name>password</param-name>
 	<param-value>root</param-value>
 	</context-param>
  
  
  <context-param>
  <param-name>driver</param-name>
  <param-value>com.mysql.jdbc.Driver</param-value>
  </context-param>
</web-app>
